@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

.about-me-sec {
  position: relative;
  /* background: linear-gradient(#be58d3, #ecdd4e); */
  min-height: 100vh;
  min-width: 100vw;
}

.about-me-section-contianer{
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}



.about-me-sec-header{
  margin-top: 100px;
  padding: 0 2em;
  font-size: 3em;
  text-align: center;
  color: antiquewhite;
  font-weight: 300;
  letter-spacing: 7px;
  
}

.about-me-sec-header > h2 > span:nth-child(1){
  color: #ffee00;
  background-color: transparent;
 
} 

.about-me-sec-header > h2 > span:nth-child(n):hover{
 box-shadow: 4px 4px 5px rgb(77, 64, 64);
 border: .1px solid #c651dd ;
}


.about-me-sec-para{
  color: #fff;
  cursor: pointer;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2rem;
  /* max-width: 700px; */
  max-width: 420px;
}


.wrapper{
  grid-area: box;
  position: relative;
  width: 400px;
  height: 300px;
  border:  20px solid #fff;
  /* margin-right: 4em; */
  overflow: hidden;
  pointer-events: none;
}


.container {
  /* position: absolute; */
  width: 300px;
  height: 300px;
}

@media screen and (max-width:1099px){
  .wrapper{
    margin: 55px 0;
  } 
}

@media screen and (max-width:600px){

  .about-me-sec-header{
    margin-top: 20px;
    font-size: 1.5em;
  }

  .about-me-section-contianer{
    margin-top: 50px;
  }
  .wrapper{
    width: 95vw;
  }
  .about-me-sec-para{
    width: 90vw !important;
    padding: 0;
    font-size: 1.1em;
  }
}

.about-me-sec-header > h2 > span:nth-child(1){
  animation: headerAni1;
 }
 .about-me-sec-header > h2 > span:nth-child(2){
  animation: headerAni2;
 }
 .about-me-sec-header > h2 > span:nth-child(3){
  animation: headerAni3;
 }
 .about-me-sec-header > h2 > span:nth-child(4){
  animation: headerAni4;
 }
 .about-me-sec-header > h2 > span:nth-child(5){
  animation: headerAni5;
 }
 .about-me-sec-header > h2 > span:nth-child(6){
  animation: headerAni6;
 }
 .about-me-sec-header > h2 > span:nth-child(7){
  animation: headerAni7;
 }

.about-me-sec-header > h2 > span:nth-child(n){
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

 @keyframes headerAni1 {
   0%{
    box-shadow: 4px 4px 5px rgb(77, 64, 64);
    border: .1px solid #c651dd ;
   }
   10%{
    box-shadow: 4px 4px 5px rgb(77, 64, 64);
    border: .1px solid #c651dd ;
   }
   14%{
    border: 0;
   }
 }
 @keyframes headerAni2 {
  10%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  14%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
   28%{
     border: 0;
   }
}
@keyframes headerAni3 {
  14%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  28%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
   42%{
     border: 0;
   }
}
@keyframes headerAni4 {
  28%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  42%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  56%{
     border: 0;
   }
}
@keyframes headerAni5 {
  42%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  56%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  70%{
     border: 0;
   }
}   
@keyframes headerAni6 {
  56%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  70%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  84%{
     border: 0;
   }
}
@keyframes headerAni7 {
  70%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  84%{
   box-shadow: 4px 4px 5px rgb(77, 64, 64);
   border: .1px solid #c651dd ;
  }
  100%{
     border: 0;
   }
}


[data-typing] {
  position: absolute;
  top: 0;
  transform-origin: 0% 0%;
  font-size: 25px;
  margin: 0;
  padding: 0;
  top: 100px;
  line-height: 1;
  color: #333;
}
[data-typing="i"] {
  top: 0;
  left: 50px;
  font-size: 90px;
  height: 70px;
  line-height: 70px;
}
[data-typing="frontend"] {
  top: 3px;
  left: 80px;
  font-size: 27px;
  letter-spacing: 1px;
}
[data-typing="developer"] {
  top: 30px;
  left: 80px;
  font-size: 40px;
  letter-spacing: 1px;
}
[data-typing="with"] {
  top: 74px;
  left: 265px;
  font-size: 36px;
  transform: rotate(90deg);
  background: #333;
  color: #fff;
  padding: 0px 4px;
}
[data-typing="javascript"] {
  top: 74px;
  left: 229px;
  transform: rotate(90deg);
  font-size: 35px;
}
[data-typing="typescript"] {
  top: 72px;
  right: 110px;
  font-size: 25px;
}
[data-typing="css"] {
  top: 97px;
  right: 110px;
  font-size: 40px;
}
[data-typing="nodejs"] {
  top: 134px;
  right: 110px;
  font-size: 35px;
}
[data-typing="animation"] {
  top: 167px;
  right: 110px;
  font-size: 35px;
}
[data-typing="scenejs"] {
  top: 200px;
  right: 110px;
  font-size: 35px;
}

a {
  color: #333;
  text-decoration: none;
}

body .scenejs-editor-timeline {
  position: fixed;
  bottom: 0;
  max-height: 300px;
} 
